<%- include("partials/header.ejs") %>

<form action="/" method = "POST">
    <input type="text" name = "eid" placeholder = "Employee ID" required>
    <button class = "btn btn-primary">Submit</button>
</form>

















<%- include("partials/footer.ejs") %> 