<%- include("partials/header.ejs") %> 

<h1>Home page</h1>


<ul>
    <% for(let i=0;i<reviews.length;i++){ %>
        <li><a href="/reviews/<%= reviews[i]._id %> "><%= reviews[i].name %></a></li>    
    <% } %> 
</ul>

<!--Conduct review button-->
<form action="/reviewForm">
    <button class="btn btn-primary">Conduct a Review</button>
</form>




<%- include("partials/footer.ejs") %> 