<%- include("partials/header.ejs") %>

<form action="/reviewForm/<%= review._id %>" method="POST">
    <input type="text" name="comments" placeholder="Comment">
    <input type="number" name="severity" placeholder="Severity Level">
    <input type="text" name="comments" placeholder="Comment">
    <input type="number" name="severity" placeholder="Severity Level">
    <input type="text" name="comments" placeholder="Comment">
    <input type="number" name="severity" placeholder="Severity Level">
    <input type="text" name="comments" placeholder="Comment">
    <input type="number" name="severity" placeholder="Severity Level">
    <input type="text" name="comments" placeholder="Comment">
    <input type="number" name="severity" placeholder="Severity Level">
    <button>Next</button>
</form>





<%- include("partials/footer.ejs") %>