<%- include("partials/header.ejs") %>

<form action="/reviewForm" method="POST">
    <input type="text" placeholder="Review Title" name = "reviewName" required>
    <textarea name="objective" id="objective" cols="30" rows="10" placeholder="Review Objective"></textarea>
    <input type="text" placeholder="Name" name = "name" required>
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Name" name="name" required>
    <button>Next</button>
</form>





<%- include("partials/footer.ejs") %>