@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

body {
  font-family: OpenSans-Regular;
  background-color: #f2f2f2;
}
.navbar-brand {
  font-family: OpenSans-Bold;
  color: #4e5ec3 !important;
  font-size: 1.7rem;
}
.card {
  margin: 20px 20px;
  max-width: 25rem;
  background: #f2f2f2;
}
.review-link {
  color: black;
}
.review-link:hover {
  text-decoration: none;
  color: black;
}
.reviews-container {
  padding-top: 30px;
  margin: 0 95px;
}
.conduct-review-btn {
  text-align: center;
  padding-top: 70px;
}
hr {
  height: 10px;
  background: #4e5ec3;
  margin-top: 0;
}
.btn-danger {
  background-color: #fd5d5d;
}
.btn-success {
  background-color: #2dc7b6;
}
.reviewForm1-container {
  background-color: white;
  height: 600px;
  margin-top: 40px;
}
.col1 {
  width: 50%;
  float: left;
  margin-top: 40px;
  height: 400px;
}
.col2 {
  width: 50%;
  float: right;
  margin-top: 40px;
  height: 400px;
}
#review-title {
  width: 385px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
}
#objective {
  background-color: #f2f2f2;
  border: none;
}
.panel-members {
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 20px;
  height: 45px;
  width: 400px;
}
#reviewForm1-button {
  background-color: #2dc7b6;
  width: 150px;
  color: white;
  margin-left: 400px;
}
.form2-col1 {
  width: 50%;
  float: left;
}
.form2-col2 {
  width: 50%;
  float: right;
}
.form2-header {
  display: flex;
  gap: 500px;
}
#objective-box {
  background-color: white;
  width: 500px;
  height: 200px;
}
.review-details-header {
  display: flex;
  gap: 400px;
  padding-top: 15px;
  margin-left: 40px;
}
.review-details-body {
  margin-left: 40px;
}
.review-details-col1 {
  float: left;
  width: 40%;
}
.review-details-col2 {
  float: left;
  background: white;
  width: 500px;
  height: 200px;
  border-radius: 10px;
}
#review-details-objective-text {
  background: #f2f2f2;
  font-family: OpenSans-Bold;
  padding-bottom: 10px;
}
#review-details-comment-text {
  font-family: OpenSans-Bold;
  margin-top: 10px;
}
.reviewDetails-panelMember-name {
  font-family: OpenSans-SemiBold;
  margin-bottom: 0;
  margin-top: 10px;
}
